:root {
  --background: linear-gradient(to right, #743ad5, #d53a9d);
}
body{
  margin: 0;
  padding: 0;
  font-family: 'poppins', sans-serif;
  background-color: #0F1624;
  color: #fff;
}

header{
  height: 10vh;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  position: sticky;
  top: 0; /* Zorgt ervoor dat de header aan de bovenkant van de viewport blijft plakken */
  background-color: #0F1624; /* Zorgt ervoor dat de header een achtergrondkleur heeft wanneer deze sticky is */
  z-index: 1002; /* Zorgt ervoor dat de header boven andere inhoud blijft */
}
header h1{
  margin: 0;
  padding: 0;
  font-size: 2rem;
  line-height: 5vh;
  margin-left: 30%;
  vertical-align: middle;
  margin-top: auto;
  margin-bottom: auto;
}
header h1 span{
  background-image: var(--background);
  background-clip: text;
  color: transparent;
}


nav ul{
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  height: 100%;
  font-weight: bold;
}
nav ul li {
  position: relative; 
  margin: 0;
  padding: 2%;
  padding-bottom: 1%;
  transition: 0.3s;
}


nav ul li::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%; 
  height: 2px; 
  background-image: var(--background);
  transition: width 0.5s; 
}

nav ul li:hover::after {
  width: 100%; 
}

nav ul li:hover{
  transform: translate(0, -5px);
  padding-bottom: 1.5%;
  transform: scale(1.1);
}

div.socials ul{
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  height: 100%;
}

div.socials ul li{
  margin: 0;
  padding: 0;
  margin-right: 10px;
  font-size: 2rem;
  color: white;
}

div.socials ul li i{
  background-image: var(--background);
  background-clip: text;
  color: transparent;
  display: inline-block;
  transition: 0.3s;
}

 div.socials ul li i:hover{
  transform: translate(0, -5px) scale(1.1);
  padding-bottom: 1.5%;
  transition: 0.3s;
}



section.intro{
  min-height: 60vh;
  height: calc(fit-content + 10vh);
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

section.intro div.info{
  width: 40%;
}

section.intro div.info div.me h1.name{
  font-size: 4rem;
  background-image: var(--background);
  background-clip: text;
  color: transparent;
  margin-bottom: 0;
}

section.intro div.info div.me h1{
  font-size: 3.3rem;
  margin-top: 1%;
  margin-bottom: 1%; 
  position: relative;
  z-index: 1001;  
}



section.intro div.info div.me p{
  font-size: 1rem;
  margin-top: 0%;
  color: #929EB0;
  width: 60%;
  margin-bottom: 3%;
  position: relative;
  z-index: 1001;
}


section.intro div.info div.me a{
  font-family: 'poppins', sans-serif;
  padding: 1%;
  border-radius: 25px;
  background-image: var(--background);
  color: white;
  text-decoration: none;
  transition: all 0.3s;
  display: inline-block;
}

section.intro div.info div.me a:hover{
  transform: translate(0, -2px) scale(1.02);
}

.imgHw{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 40vh;
}

.imgHw span{
  width: 100%;
  height: 100%; /* Zorgt ervoor dat span de volledige hoogte van .imgHw inneemt */
  position: relative;
}

.imgHw span::before, .imgHw span::after, .imgHw img{
  content: '';
  position: absolute;
  width: 390px; /* Behoudt de breedte voor zichtbaarheid */
  height: 390px; /* Maakt de hoogte gelijk aan de breedte voor een perfecte cirkel */
  border-radius: 50%; /* Zorgt voor een cirkelvorm */
  background-color: #929EB0;
  transform: translate(-50%, -50%);
}
.imgHw span::before, .imgHw span::after{
  content: '';
  position: absolute;
  width: 390px;
  padding: 6px;
  border-radius: 50%;
  background: linear-gradient(#0F1624, #0F1624) padding-box, var(--background) border-box;
  border: 2px solid transparent;
  box-sizing: border-box;   
  transform: translate(-50%, -50%);
} 

.imgHw span::before{
  width: 600px;
  height: 600px;
  left: -3%; 
  top: 80%;
}

.imgHw span::after{
  background: var(--background);
  border: none;
  width: 300px;
  height: 300px;
  left: 40%; 
  top: 75%;
}

.imgHw img{
  left: 60%;
  top: 32%;
  object-fit: cover;
  filter: grayscale(100%);
  transform-origin: center;
  transition: filter 0.3s;
}

.imgHw img:hover{
  filter: grayscale(0%);
}

section.projects{
  margin-top: 5%;
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

section.projects h1{
  font-size: 2rem;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-right: auto;
  margin-left: 10%;
  color: white;
}

.projectContainer{
  
  width: 70%;
  display: grid;
  gap: 4%;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
}

.project{
  border: 1px solid transparent;
  background-image: linear-gradient(#0F1624, #0F1624), var(--background);
  background-origin: border-box;
  background-clip: content-box, border-box;
  padding: 1px;
  margin: 1px;
  transition: transform 0.3s;
  width: 100%;
}

.projectImg img{
  box-sizing: border-box;
  width: 100%;
  padding: 10%;
  padding-bottom: 0;
}

.projectInfo{
  padding: 10%;
  padding-top: 0;
}

.projectInfo .link{
  padding: 3%;
  background: var(--background);
  color: white;
  text-decoration: none;
  border-radius: 25px;
  margin-top: 100%;

}

.projectLang{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5%;
  font-size: 2rem;
  background-image: var(--background);
  background-clip: text;
  color: transparent;
}

.projectLang i{
  margin: 0 5% 0 5%;
}


section.skills{
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.skillsContainer{
  width: 70%;
  display: grid;
  gap: 4%;
  grid-template-columns: 1fr;
}

.skillsContainer span.progress{
  background-color: var(--background);
  height: 20px;
}

